
.dashboardContainer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header {
    color: #205493;
    margin-bottom: 20px;
}

.buttonNewFiling {
    margin-bottom: 30px;
    width: auto;
}

.cardContainer {
    width: 100%;
    list-style: none;
}

.taxCard {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cardTitle {
    font-size: 1.25rem;
    color: #323a45;
}

.taxCard:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.taxCard ul, .taxCard li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.alertContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.alertInfo {
    width: auto;
    text-align: center;
}
