.custom-hero {
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; /* Added padding for better spacing */
}

.usa-hero__callout {
    flex: 1 1 50%;
    padding-right: 20px;
    margin-right: 150px; /* Consider reducing or removing this on smaller screens */
}

.usa-hero__image {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
}

.usa-hero img {
    width: 100%;
    max-width: 500px; /* Adapted for better mobile response */
    height: auto;
}

.custom-hero .usa-grid,
.custom-hero .grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.usa-button {
    background-color: #004795;
    color: #ffffff;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.usa-button:hover, .usa-button:focus {
    background-color: #002d72;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .custom-hero {
        flex-direction: column;
        text-align: center;
    }

    .usa-hero__callout {
        margin-right: 0;
        padding: 0;
    }

    .usa-hero__image {
        justify-content: center;
        margin-top: 20px;
    }

    .usa-hero__image img {
        max-width: 100%; /* Ensures the image scales down on smaller screens */
    }
}
