.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Use 100% of the viewport height */
}

.main-content {
    flex: 1;
    /* Expands to fill available space, pushing the footer down */
}