/* src/components/SelfEmploymentIncome/SelfEmploymentIncome.module.css */

.container {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%; /* Ensures that the container takes full width of its parent */
}

.formGrid {
    margin-top: 1rem;
}

.inputField {
    margin-bottom: 1rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonSubmit:hover {
    background-color: #205493;
}

.listContainer {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.listItem {
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}

.lastItem {
    border-bottom: none;
}

@media (max-width: 768px) {
    .container, .buttonSubmit {
        padding: 10px;
    }

    .buttonSubmit {
        width: 100%; /* Full-width button on smaller screens */
    }
}
