

.fullWidthContainer {
    width: 100%;
    max-width: none; /* Overrides any max-width set by USWDS */
}

.submitButtonContainer {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}
